/**
 * Place your custom styles here.
 */

body {
  margin: 0;
}

#header {
  padding: 30px 10px 50px;
  background: #fc3;
}

#main-wrapper {
  padding: 10px;
}

#footer {
  padding: 30px 10px 50px;
  background: cadetblue;
}

#header .row,
#main-wrapper .row,
#footer .row {
  width: 85%;
  margin: auto;
}
